<div class="row">
  <div class="col-12">
      <div class="card">
                <div class="card card-body">
                        <div class="container">
                            <div class="form-group {{alerta}}">
                                <label>Paciente</label>
                                <input type="text" [(ngModel)]="seletor.nome" style="text-transform: uppercase" class="form-control">
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                              <div class="col-sm">
                                 <div class="form-group {{alerta}}">
                                     <label>Data de nascimento</label>
                                     <input class="form-control" type="date" [(ngModel)]="dtnasc" >
                                  </div>
                              </div>
                              <div class="col-sm">
                                <div class="form-group">
                                    <label>Gênero</label>
                                    <div class="form-check">
                                        <input class="form-check-input" [(ngModel)]="cliente.sexo" type="radio" name="exampleRadios" id="exampleRadios1" value="Masculino" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                          Masculino
                                        </label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" [(ngModel)]="cliente.sexo" name="exampleRadios" id="exampleRadios2" value="Feminino">
                                        <label class="form-check-label" for="exampleRadios2">
                                          Feminino
                                        </label>
                                      </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="container">
                                <div class="row">
                                  <div class="col-sm">
                                     <div class="form-group">
                                         <label>Estado Civil</label>
                                         <input class="form-control" style="text-transform: uppercase" [(ngModel)]="cliente.civil" type="text" >
                                      </div>
                                  </div>
                                  <div class="col-sm">
                                        <div class="form-group">
                                            <label>Profissão</label>
                                            <input type="text" [(ngModel)]="cliente.profissao" style="text-transform: uppercase" class="form-control">
                                        </div>
                                  </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="form-group">
                                    <label>Logradouro</label>
                                    <input type="text" [(ngModel)]="cliente.rua" style="text-transform: uppercase" class="form-control">
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                  <div class="col-sm">
                                     <div class="form-group">
                                         <label>Número</label>
                                         <input class="form-control" style="text-transform: uppercase" [(ngModel)]="cliente.numero" type="text" >
                                      </div>
                                  </div>
                                  <div class="col-sm">
                                        <div class="form-group">
                                            <label>Bairro</label>
                                            <input type="text" [(ngModel)]="cliente.bairro" style="text-transform: uppercase" class="form-control">
                                        </div>
                                  </div>
                                  <div class="col-sm">
                                        <div class="form-group">
                                            <label>Complemento</label>
                                            <input type="text" [(ngModel)]="cliente.complemento" style="text-transform: uppercase" class="form-control">
                                        </div>
                                   </div>
                                </div>
                            </div>

                            <div class="container">
                                <div class="row">
                                  <div class="col-sm">
                                     <div class="form-group">
                                         <label>CEP</label>
                                         <input class="form-control" style="text-transform: uppercase" [(ngModel)]="cliente.cep" type="text" >
                                      </div>
                                  </div>
                                  <div class="col-sm">
                                    <div class="form-group">
                                        <label>Cidade</label>
                                        <input type="text" [(ngModel)]="cliente.cidade" style="text-transform: uppercase" class="form-control">
                                    </div>
                                  </div>
                                  <div class="col-sm">
                                        <div class="form-group">
                                            <label>Estado</label>
                                            <input type="text" [(ngModel)]="cliente.estado" style="text-transform: uppercase" class="form-control">
                                        </div>
                                  </div>
                                </div>
                            </div>

                            <div class="container">
                                <div class="row">
                                  <div class="col-sm">
                                     <div class="form-group">
                                         <label>Celular</label>
                                         <input class="form-control" style="text-transform: uppercase" [(ngModel)]="cliente.celular" type="text" >
                                      </div>
                                  </div>
                                  <div class="col-sm">
                                    <div class="form-group">
                                        <label>Telefone</label>
                                        <input type="text" [(ngModel)]="cliente.telefone" style="text-transform: uppercase" class="form-control">
                                    </div>
                                  </div>
                                  <div class="col-sm">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" [(ngModel)]="cliente.email" class="form-control">
                                        </div>
                                  </div>
                                </div>
                            </div>

                            <div class="container">
                                    <div class="row">
                                      <div class="col-sm">
                                         <div class="form-group">
                                             <label>Médico</label>
                                             <input class="form-control" style="text-transform: uppercase" [(ngModel)]="cliente.medico" type="text" >
                                          </div>
                                      </div>
                                      <div class="col-sm">
                                            <div class="form-group">
                                                <label>Contato</label>
                                                <input type="text" [(ngModel)]="cliente.telmed" style="text-transform: uppercase" class="form-control">
                                            </div>
                                      </div>
                                    </div>
                                </div>
                        
                        <div class="container">
                            <button (click)="cadastrarPaciente()" class="btn btn-info waves-effect waves-light m-t-10">Salvar</button>
                            <button (click)="limparPaciente()" class="btn btn-info waves-effect waves-light m-t-10">Limpar</button>
                        </div>
                    
                </div>
            
      </div>
  </div>
</div>