<div class="row">
  <div class="col-12">
      <div class="card">
                <div class="card card-body">
                        <div class="form-group">
                            <label>Paciente</label>
                            <input type="text" [(ngModel)]="seletor.nome" placeholder="Nome completo" style="text-transform: uppercase" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Data de nascimento</label>
                            <input class="form-control" type="date" [(ngModel)]="dtnasc" >
                        </div>
                        
                        <div class="offset-sm-3 col-sm-9">
                            <button (click)="cadastrarPaciente()" class="btn btn-info waves-effect waves-light m-t-10">Salvar</button>
                        </div>
                    
                </div>
            
      </div>
  </div>
</div>